name: EOF newline

on:
  pull_request
permissions:
  contents: read

jobs:
  linelint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Linelint
        uses: fernandrone/linelint@master
